.App{
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 background-color: grey;
  width: 100%;
}
.card-img-top{
  height: 80px;
  width: 80px;
}


.card{
  height: 600px !important;
}